<div class="row">
   <div class="large-2 columns"></div>
   <div class="large-8 columns">
      <canvas id="canvas" width="800" height="800">Does not support HTML5 Canvas.</canvas>
      <script type="text/javascript" src="tt.js"></script>
   </div>
   <div class="large-2 columns">
      <button type="button" id="new-board">New Game</button>
   </div>
</div>
